@import url('https://fonts.googleapis.com/css?family=Poppins');
body { 
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
.header {
    background-color: #ffffff;
    padding: 20px;
    display: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 0;
  }
.container{
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
    display: auto;
    align-items: right;
}
  
  @media screen and (max-width: 100px) {
    .container {
      float: none;
      display: flex;
      text-align: right;
    }
    
    .container {
      float: none;
    }
  }

