@import url('https://fonts.googleapis.com/css?family=Poppins');
.header {
    background-color: #ffffff;
    height: 100%;
    margin: 20px 20px;
  }
  .header a {
    display: flex;
    color: black;
    padding: 5px 80px;
    margin: 20px;
  }
 
body {
    background: #f1f1f1;
    font-family: "Poppins", sans-serif;
  }

.top_sidebar{
    background: #ffffff;
    width: 300px;
    position: fixed;
    text-align: center;
    height: 100%;
    overflow: auto;
    font-weight: bold;
    font-size: x-large;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    font-weight:100;
    font-size: medium;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 40px;
    text-decoration: none;
  }
 
  .sidebar a.active {
    background-color: #C2A790;
    color: white;
    border-radius: 10px;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #C2A790;;
    color: white;
    border-radius: 10px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background: white;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .top_sidebar a {
    display: block;
    color: black;
    padding: 40px;
    text-decoration: none;
  }
  .bot_sidebar{
    background: #ffffff;
    margin: 0;
    padding-top: 100px;
    width: 300px;
    position: fixed;
    height: 100%;
    overflow: auto;
    
  }
  .icon {
    margin-right: 10px;    
}


