@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.dashboard_container {
    padding: 15px;
    background-color: white;
    margin-right: 10px;
    flex-grow: 1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
}

.dashboard_header,
.header_dropdown,
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dashboard_header {
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
}
.inventory_status,
.inventory_section_dropdown,
.inventory_type_dropdown,
.inventory_status_dropdown,
.search-bar {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
}

.inventory_section_dropdown:hover,
.inventory_type_dropdown:hover,
.inventory_status_dropdown:hover,
.search-bar:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}

.inventory_section_dropdown:focus,
.inventory_type_dropdown:focus,
.inventory_status_dropdown:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    background-color: #fff;
}

.profile_section {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    font-weight: bold;
}

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dashboard_content {
    margin-top: 20px;
}

.dashboard_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.inventory_table {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inventory_table table {
    width: 100%;
    border-collapse: collapse;
}

.inventory_table th,
.inventory_table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.inventory_table th {
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 16px;
}

.inventory_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.inventory_table tbody tr:hover {
    background-color: #f1f1f1;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination_btn {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination_btn:hover {
    background-color: #e0e0e0;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.btn:hover {
    transform: translateY(3px) scale(1.01);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.add-inventory_btn {
    background-color: #C2A790;
    color: white;
}

.add-inventory_btn:hover  {
    background-color: #a68a6b;
}

.toggle_archive_btn {
    background-color: #C2A790;
    color: white;
}

.toggle_archive_btn:hover  {
    background-color: #a68a6b;
}

.edit_btn {
    background-color: #4CAF50;
    color: white;
}

.edit_btn:hover {
    background-color: #4cae4c;
}

.out_btn {
    background: #d9534f;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.out_btn:hover {
    background: #c9302c;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.view_btn {
    background: #5cb85c;
    color: white;
    margin-right: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view_btn:hover {
    background: #4cae4c;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.archive_btn {
    background: orange;
    color: white;
    margin-right: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.unarchive_btn {
    background: orange;
    color: white;
    margin-right: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.modal1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content1 {
    background-color: #fff;
    padding: 40px; 
    border-radius: 12px; 
    width: 90%; 
    max-width: 800px; 
    max-height: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    color: #333;
}

.modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; 
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.modal-content1 input, 
.modal-content1 select, 
.modal-content1 button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content1 button {
    background-color: #C2A790; 
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.modal-content1 button:hover {
    background-color: #C2A790; 
}

.modal-content1 .form-group {
    margin-bottom: 15px;
}


.modal_view {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
}

.modal_view2 {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    max-width: 700px; 
    max-height: 90%; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
 
}

.table_container {
    flex: 1; /* Allow it to expand within the modal */
    overflow-y: auto; /* Enable vertical scrolling for the table */
    max-height: 300px; /* Set the max height for the scrollable area */
    margin-top: 20px; /* Add spacing */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky; /* Keep the header visible while scrolling */
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

.close-btn:hover {
    background-color: #a68a6b;
}

.submit-btn:hover {
    background-color: #a68a6b;
}

.viewModal_in_out_btn {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 15px; 
}

.btn_in_btn, .btn_out_btn, .btn_edit_btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 14px;
}

.btn_in_btn {
    background: #5cb85c; 
}

.btn_in_btn:hover {
    background: #4cae4c;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn_out_btn {
    background: #d9534f; 
}

.btn_out_btn:hover {
    background: #c9302c;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn_edit_btn {
    background: #F1C40F; 
   
}

.btn_edit_btn:hover {
    background: #ddb30d;
    transform: translateY(3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

.toggle-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
}

.submit_add {
    background-color: #C2A790;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: white;
    width: 100%; 
    text-align: center; 
}

.submit_add:hover {
    background-color: #C2A790;
    color: white;
    transform: translateY(3px) scale(1.01);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.edit_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit_form label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #333;
}

.edit_form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.save_button {
    background-color: #fcd332;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.save_button:hover {
    background-color: #ddb30d;
}

.edit_form label {
    font-size: 20px; /* Change this value to your desired font size */
    color: #333; /* Optional: change the text color */
    margin-bottom: 8px; /* Optional: add some space below the label */
    display: block; /* Optional: make the label a block element */
}