.dashboard_container {
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: white;
    margin-right:10px;
    flex-grow: 1;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    max-height: 100%;
}
.dashboard_header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
}

.search_bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px;
}

.profile_section {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    font-weight: bold;
}

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dashboard_content {
    margin-top: 20px;
}

.dashboard_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.actions {
    display: flex;
    align-items: center;
}

.actions .btn {
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.export_btn {
    background-color: #f5f7fa;
    border: 1px solid #ddd;
}

.add-inventory_btn {
    background-color: #f47545;
    color: white;
}

.inventory_table {
    margin-top: 20px;
}

.inventory_table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inventory_table th, .inventory_table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.inventory_table th {
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 16px;
}

.inventory_table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.inventory_table tbody tr:hover {
    background-color: #f1f1f1;
}

.inventory_table td {
    font-size: 14px;
}

.btn {
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.edit_btn {
    background-color: #4CAF50;
    color: white;
    margin-right: 5px;
}

.edit_btn:hover {
    background-color: #45a049; /* Darker green on hover */
}

.delete_btn {
    background-color: #f44336;
    color: white;
}

.delete_btn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination_btn {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #f5f5f5;
}

.pagination_btn:hover {
    background-color: #e0e0e0; /* Light grey on hover */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 600px; /* Increased width */
    max-width: 90%; /* Ensure it doesn't exceed the viewport */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-height: 80%; /* Added max-height for better control */
    overflow-y: auto; /* Enable scrolling if content exceeds max-height */
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 20px;
    margin-bottom: 15px;
}


.modal-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.modal-content button {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #C2A790;
    color: white;
}

.modal-content button:hover {
    background-color: #a68a6b; /* Darker green on hover */
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.inventory_section_dropdown,
.inventory_type_dropdown,
.inventory_status_dropdown {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.inventory_section_dropdown:focus,
.inventory_type_dropdown:focus,
.inventory_status_dropdown:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
    padding: 7px 15px;
    font-size: 14px;
    background-color: #1dd05b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #18b34e;
    color: white;
    
}

.out_btn {
    background-color: #f3554f;
}

.out_btn:hover {
    background-color: #d02923;
}

.in_btn, .out_btn {
    display: inline-block;
    width: 55px; 
    padding: 5px;
    margin: 0 5px; 
    font-size: 16px;
}

.export_btn {
    background-color: #C2A790;
}

.export_btn:hover {
    background-color: #a68a6b;
}

.add-inventory_btn {
    background-color: #C2A790;
}

.add-inventory_btn:hover {
    background-color: #a68a6b;
}

.viewbtn_modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
}

.viewbtn_content {
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 80%; 
    max-width: 800px; 
    padding: 20px; 
    overflow-y: auto; 
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-icon:hover {
    color: #999;
}

.viewModal_in_out_btn {
    display: flex;
    gap: 1px; 
}
