@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.inventory_container {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: calc(100% - 260px);
    margin-left: 330px;
    margin-top: 50px;
} 

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.searchbar_input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search_btn, .filter_btn {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #d4b893;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.search_btn:hover, .filter_btn:hover {
    background-color: #b7956f;
}


.toggle-buttons {
    display: flex;
    margin-top: 20px;
}

.toggle-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #d4b893;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.toggle-btn.active {
    background-color: #8c6c4a; /* Darker color for the active button */
}

.toggle-btn:hover {
    background-color: #b7956f;
}

.tabs {
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f0e6d3;
    border: none;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.tab.active {
    background-color: #d4b893;
    color: white;
}

.add_product_btn2 {
    padding: 10px 20px;
    background-color: #d4b893;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.add_product_btn2:hover {
    background-color: #b7956f;
}


.order_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order_table th, .order_table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.order_table th {
    background-color: #f0e6d3;
}

.hidden_checkbox {
    display: none;
}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .modal-content {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 95%; 
    }
}
@media screen and (max-width: 700px) {
    .container {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .container h2 {
        font-size: 20px;
    }

    .container p {
        font-size: 14px; 
    }
}