@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

  * {
      font-family: 'Inter', sans-serif;
  }

  .main-container {
    display: flex;
    max-width: 100%;
    flex-grow: 1;
    margin-right: 70px;
    justify-content: space-between;
  }

  .order_dashboard {
    margin-right:10px;
    flex-grow: 1;
    padding: 2px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    max-height: 100%;
  }

  .right-container {
    width: 80px; 
    transition: width 0.4s ease;
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 100vh;
    background-color: #fff;
    border-left: 1px solid #ddd;
  }
  
  .right-container.expanded {
    width:  450px;
  }
  
  .order-status {
    padding: 10px;
    text-align: center;
  }
  
  .orders-table {
    padding: 10px;
    background-color: #fafafa;
  }
  
  .btn {
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  .complete-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .complete-button:hover {
    background-color: darkgreen;
  }

  .order-status h4 {
    cursor: pointer;
    color: black; 
    transition: color 0.3s;
  }
  
  .order-status h4:hover {
    color: #000000; 
  }

  .font-size{
      font-size: 18px;
      font-weight: bold;
  }
  
  .font-size{
    font-size: 18px;
    font-weight: bold;
  }
  
  .toggle_header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
  }

  .input_type{
    display: none;
  }

  .display {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .label_type {
    width: 100px;
    height: 50px;
    border-radius: 999px;
    background: #f7f6f6 !important;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
  }

  .circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05), -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.3s ease-in-out;
  }

  .material-symbols-outlined {
      font-size: 24px;
      padding: 7px;
      position: absolute;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .food {
      color: #8B4513;
      opacity: 1;
      transition: opacity 0.3s ease-in-out; 
  }

  .coffee {
      color: #8B4513;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; 
  }

  input:checked + .display label .circle {
      left: calc(100% - 50px); 
  }

  input:checked + .display label .circle .food {
      opacity: 0; 
      transform: translateY(0%); 
  }

  input:checked + .display label .circle .coffee {
      opacity: 1; 
      transform: translateY(0%);
  }

  .toggle-text {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .search_container {
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.151)
  }

  .search_input {
    display: flex;
    padding: 10px;
    border: 0 solid #ccc;
    border-radius: 5px;
  }

  .search-icon-btn {
      margin-right: 10px;
      background: none;
      border: none;
      cursor: pointer;
      color: #888;
      font-size: 18px;
      font-style: bold;
      transition: color 0.3s;
  }
  .search-icon-btn:hover {
      color: #000;
  }

  .order_container {
      padding: 30px;
      margin: 0;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      transition: margin-left 0.3s ease, width 0.3s ease;
  }

  .order_item {
      padding:40px 50px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      text-align: center;
      align-items: center;
      display:flex;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      color: #000;
  }
  .order_item:hover {
      background-color: #C2A790;
      color: #fff;
      transform: scale(1.05);
  }
  .out-of-stock {
    cursor: not-allowed;
    color: gray;
    background-color: #f9f9f9;
  }
  
  .out-of-stock:hover {
    background-color: #f9f9f9;
  }
  
  .out-of-stock-text {
    font-size: 12px;
    color: red;
    margin-left: 10px;
  }
  .items-section {
      padding:0;
  }
  
  .items-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .items-section li {
    width: 100%;
    border-bottom: 1.5px solid #ccc;
  }
  
  .scrollable-container {
    height: 200px; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    margin-bottom: 10px;
  }

  .navigation-container {
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping to the next line */
    margin-top: 10px;
    margin-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: #c2a790 #fff0f0;
}

.navigation-bar {
    list-style: none;
    display: flex; /* Maintains horizontal layout */
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; 
    padding: 0px;
    margin: 10px;
}

.navigation-bar li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 100px; /* Your original button styles are retained */
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navigation-bar li a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: #C2A790;
      transition: width 0.3s ease;
  }

  .navigation-bar li a:hover::after,
  .navigation-bar li a.active::after {
      width: 100%;
  }


  .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      z-index: 1000;
  }

  .modal_content {
      background-color: white;
      padding: 20px;
      color: #000;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      position: relative;
  }

  .close_button {
      position: absolute;
      top: 0;
      right: 15px;
      background-color: transparent;
      cursor: pointer;
      font-size: 30px;
      color: #5c5858;
      border: none; 
      outline: none; 
  }
  .close_button:hover {
      color: #000;
  }

  .size-options {
      background-color: #fff;
      border: none;
      color: #000;
      padding: px 0;
      text-align: center;
      width: 300px;
      font-size: 16px;
      margin: 10px 20px;
      transition: 0.4s;
      cursor: pointer;
  }   

  .size-options button{
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: 1px solid #C2A790;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .size-options button.active {
      background-color: #a68a6b;
      color: white;
      border: 1px solid #a68a6b;
  }

  .size-options button:hover{
      background-color: #C2A790;
      color: #ffffff;
  }

  .quantity-control {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #000;
  }

  .quantity-control button {
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: 1px solid #C2A790;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .quantity-control button:hover {
      background-color: #a68a6b;
      color: #ffffff;
  }

  .quantity-control span {
      font-size: 16px;
      text-align: center;
      width: 10px;
  }

  .proceed-button {
      background-color: #C2A790; 
      color: #ffffff;
      padding: 10px 20px; 
      border: 1px solid #C2A790; 
      border-radius: 5px; 
      font-size: 16px; 
      cursor: pointer; 
      transition: background-color 0.3s ease; 
      width: 100%; 
      margin-top: 20px;
      text-align: center; 
  }

  .proceed-button:hover {
      background-color: #a68a6b; 
      color: #ffffff; 
  }
  .items-section {
      margin-top: 20px;
  }

  .items-section ul {
      list-style-type: none;
      padding: 0;
  }

  .items-section li {
      justify-content: center; 
      align-items: center;
      border-bottom: 1px solid black;
      margin-bottom: 10px; 
  }

  .order-item {
      border-bottom: 1px solid #ccc;
  }
    
  .order-content {
    display: flex;
    flex: wrap;
    justify-content: space-between; 
    align-items: center; 
  }
  

  .delete-button {
    background-color: transparent;
    color: #C2A790;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: transparent;
    color: #C2A790;
  }

  .total-section {
      margin-top: 0;;
      font-size: 20px;
  }
  .custom-amount-section {
      margin-top: 30px;
  }

  .custom-amount-section input {
      padding: 0;
      width: 100%;
      margin-bottom: 10px;
  }

  .custom-amount-section button {
      padding: 10px 15px;
      width: 100%;
      align-items: center;
      background-color: #C2A790; 
      border: 1px solid transparent; 
      border-radius: 5px; 
      color: #000;
  }
  .custom-amount-section button:hover{
      background-color: #a68a6b; 
      color: #ffffff; 
  }

  .recent-order-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .recent-order-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
  }
  
  .recent-order-content h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .recent-order-content p {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
  }
  
  .recent-order-content .total-price {
    font-weight: bold;
    color: #28a745;
    font-size: 30px;
    margin-top: 10px;
  }
  
  .recent-order-content .close-button {
    background-color: #C2A790;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .recent-order-content .close-button:hover {
    background-color: #a38b76;
  }
  .transaction-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    border: none;
    padding: 30px 50px;
    cursor: pointer;  
    border-radius: 5px;
  }
  
  .transaction-button .material-symbols-outlined {
    align-items: center;
    justify-content: center; 
    font-size: 40px;
  }
  
  .transaction-button:hover {
    background-color: #C2A790;
    color: white;
  }
  .full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  
  .close-transaction-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .close-transaction-button:hover {
    background-color: #d32f2f;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-table th,
  .transaction-table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .transaction-table th {
    background-color: #f4f4f4;
  }
  
  .close-modal {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-modal:hover {
    background-color: #0056b3;
  }

  .full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5; 
  }

  .discount-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;  
  }

  .discount-button1 {
      color: #4960ca;
      border: 1px solid #4960ca;
      padding: 10px 10px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%; 
  }

  .discount-button2 {
    color: #d17524;
    border: 1px solid #d17524;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
  }

  .discount-button3 {
    color: #4caf50;
    border: 1px solid #4caf50;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
  }
   .discount-button3:hover {
      background-color: #4caf50;
      color: white;
  }

  .discount-button3:focus {
      outline: none;
  }

  .discount-button3.active {
    background-color: #45a049;
  }
  
  .discount-button1:hover {
      background-color: #4960ca;
      color: white;
  }

  .discount-button1:focus {
      outline: none;
  }

  .discount-button2:hover {
    background-color: #d17524;
    color: white;
  }

  .discount-button2:focus {
      outline: none;
  }
  .discount-button1.active{
    background-color: #4960ca;
    color: white;
  }
  .discount-button2.active {
    background-color: #d17524;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .order_container {
        margin-left: 0;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    .header_container {
        margin-left: 0;
    }
  }