@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
* {
    font-family: 'Inter', sans-serif;
}

.dashboard {
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
}
.font-size{
    font-size: 18px;
}

.toggle_header {
    justify-content: center;
    margin: 20px 0; 
  }
  
  .toggle-button {
    background-color: #C2A790; 
    color: white; 
    width: 200px; 
    height: 60px; 
    border: none; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .toggle-button:hover {
    background-color: #A88F6D; 
  }

.header_container {
    padding: 10px;
    align-items: center;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 5px;
    border: 1px solid rgb(179, 172, 172);
  }

  .search-input {
    flex: 1; 
    padding: 10px;
    border: 0 solid #ccc;
    border-radius: 5px;
   
  }
.search-input:focus {
    border-color: #070707;
}

.search-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    font-style: bold;
    transition: color 0.3s;
}
.search-icon-btn:hover {
    color: #000;
}

.order_container {
    padding: 30px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.order_item {
    padding:40px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    align-items: center;
    display:flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: #000;
}
.order_item:hover {
    background-color: #C2A790;
    color: #fff;
    transform: scale(1.05);
}

.items-section {
    padding:0;
  }
  
  .items-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .items-section li {
    width: 100%;
    border-bottom: 1.5px solid #ccc;
  }

.navigation-bar {
    padding: 20px;
    list-style: none;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navigation-bar li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 100px;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.navigation-bar li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #C2A790;
    transition: width 0.3s ease;
}
.navigation-bar li a:hover::after,
.navigation-bar li a.active::after {
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    background-color: white;
    padding: 20px;
    color: #000;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.close_button {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    color: #5c5858;
    border: none; 
    outline: none; 
}
.close_button:hover {
    color: #000;
}

.size-options {
    background-color: #fff;
    border: none;
    color: #000;
    padding: px 0;
    text-align: center;
    width: 300px;
    font-size: 16px;
    margin: 10px 20px;
    transition: 0.4s;
    cursor: pointer;
}   
.size-options button{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid #C2A790;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.size-options button.active {
    background-color: #a68a6b;
    color: white;
    border: 1px solid #a68a6b;
}
.size-options button:hover{
    background-color: #C2A790;
    color: #ffffff;
}
.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
}
.quantity-control button {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid #C2A790;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.quantity-control button:hover {
    background-color: #a68a6b;
    color: #ffffff;
}
.quantity-control span {
    font-size: 16px;
    text-align: center;
    width: 10px;
}

.proceed-button {
    background-color: #C2A790; 
    color: #ffffff;
    padding: 10px 20px; 
    border: 1px solid #C2A790; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 100%; 
    margin-top: 20px;
    text-align: center; 
}

.proceed-button:hover {
    background-color: #a68a6b; 
    color: #ffffff; 
}
.items-section {
    margin-top: 20px;
}

.items-section ul {
    list-style-type: none;
    padding: 0;
}

.items-section li {
    justify-content: center; 
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px; 
}

.order-item {
    border-bottom: 1px solid #ccc;
  }
  
  .order-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 0; 
  }
  
  .delete-button {
    background-color: transparent;
    color: #C2A790;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: transparent;
    color: #C2A790;
  }

.total-section {
    margin-top: 0;;
    font-size: 20px;
}
.custom-amount-section {
    margin-top: 30px;
}

.custom-amount-section input {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.custom-amount-section button {
    padding: 10px 15px;
    width: 100%;
    align-items: center;
    background-color: #C2A790; 
    border: 1px solid transparent; 
    border-radius: 5px; 
    color: #000;
}
.custom-amount-section button:hover{
    background-color: #a68a6b; 
    color: #ffffff; 
}


  .recent-order-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .recent-order-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
    text-align: center;
  }
  
  .recent-order-content h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .recent-order-content p {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
  }
  
  .recent-order-content .total-price {
    font-weight: bold;
    color: #28a745;
    margin-top: 10px;
  }
  
  .recent-order-content .close-button {
    background-color: #C2A790;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s;
  }
  
  .recent-order-content .close-button:hover {
    background-color: #a38b76;
  }

  
  
@media screen and (max-width: 768px) {
   .order_container {
       margin-left: 0;
       grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   }
   .header_container {
       margin-left: 0;
   }
}