@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.container {
    margin-left: 260px;
    height: 100vh;
    padding: 20px;
    background-color: white;
    max-width: calc(100% - 260px);
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
}

.card-sales,
.card-sales-stats,
.card-daily,
.card-weekly,
.card-monthly,
.card-annually {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-height: fit-content;
}