@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

.sidebar {
    width: 250px; 
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300; 
    font-size: large;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
    width: 70px; 
}

.dropdown-child {
    padding-left: 20px;
    background-color: #f9f9f9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.dropdown-child.open {
    max-height: 100%; 
    width: 100%;
}


.toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
    outline: none;
    transition: transform 0.3s;
}

.sidebar .header_sidebar {
    text-align: center;
    padding: 20px 0; 
    background-color: #ffffff; 
}

.sidebar .logo {
    width: 70px; 
    height: auto;
    margin-bottom: 1rem; 
    transition: width 0.3s;
}

.sidebar .collapsed-logo {
    width: 50px;
}

.sidebar a {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #343a40; 
    padding: 20px;
    margin-left: 1rem; 
    text-decoration: none;
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    overflow: hidden; 
}

.sidebar.collapsed a {
    justify-content: center; /* Center icons when collapsed */
}

.sidebar a img {
    width: 20px; 
    height: 20px;
    margin-right: 0.7rem;
    transition: margin-right 0.3s;
}

.sidebar.collapsed a img {
    margin-right: 0; /* Remove margin when collapsed */
}

.sidebar a.active {
    background-color: #C2A790; 
    color: white;
    border-radius: 15px;
}

.sidebar a:hover {
    background-color: #D9C6A6; 
    color: white;
    transform: translateX(10px);
}

.bot_sidebar {
    margin-top: auto; 
    padding: 20px;
}

.sidebar .collapsed .bot_sidebar {
    display: flex;
    justify-content: center;
}

.content {
    margin-left: 280px; 
    padding: 20px;
    background-color: #f1f1f1; 
    min-height: 100vh;
    transition: margin-left 0.3s; 
}

.sidebar.collapsed ~ .content {
    margin-left: 90px; /* Adjust margin when sidebar is collapsed */
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
