@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

  .sidebar-expanded {
    margin-left: 260px;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar-collapsed {
    margin-left: 90px;
    transition: margin-left 0.3s ease;
  }